---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #11dcff;
$grey-color-light: #11dcff;
$grey-color-dark:  #11dcff;

$color-initial: #1f2125;
$color-primary: #11dcff;
$color-secondary: #dddddd;
$color-tertiary: #33373d;
$color-quaternary: #33373d;
$color-quinary: #000;

$color-bg: #000;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;

/**
* 55 styles
*/

html, body {
        background-color: $color-bg;
}

#iframe55 {
        border: 3px solid $grey-color-light;
        background: #fff;
        width: 100%;
        height: auto;
        aspect-ratio: 16/10;
}

#controls55 {
        display: block;
        width: 100%;
        text-align: right;
}

#controls55 a {
        margin-left: 5px;
        margin-right: 5px;
}

#search55 {
        color: $color-secondary;
        background: $color-bg;
}

a {
        text-decoration: none;

        &:hover {
                text-decoration: underline;
        }
}