<footer class="site-footer">
  <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="row">
    <div class="column">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="column">
      <ul class="social-media-list">
        {% if site.github_url %}
        <li>
          <a href="{{ site.github_url }}/issues/new">
            <img src="/assets/icons/warn.png">
            Report an issue
          </a>
        </li>
        <li>
          <a href="{{ site.github_url }}/issues/new?labels=game suggestion&body=Provide the game name and link if you can find one">
            <img src="/assets/icons/bubble.png">
            Suggest a game
          </a>
        </li>
        <li>
          <a href="{{ site.github_url }}/issues/new?labels=copyright&body=Please include information we can use to contact you privately.">
            <img src="/assets/icons/envelopeopen.png">
            DMCA Procedure
          </a>
        </li>
        {% endif %}
        
        <li>
          <a href="{{ 'feed.xml' | relative_url }}">
            <img src="/assets/icons/globe.png">
            RSS feed
          </a>
        </li>

      </ul>
    </div>

    <div class="column">
      <p>{{ site.description }}</p>
    </div>
  </div>

</footer>
