<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ 'assets/logo.png' | relative_url}}"></a>
  <p><i>{{ site.motd }}</i></p>
  <div style="text-align: center;">
    <a href="/"><img src="/assets/button.png"></a>
    <a href="https://neocities.org/"><img src="/assets/neocities6.gif"></a>
    <a href="/"><img src="/assets/nedscape_now.gif"></a>
    <a href="https://github.com/mochawoof/mochawoof.github.io/issues/new?labels=enhancement&body=Provide the link you want your button to go to as well as the 88x31 image to use for it."><img src="/assets/addyourbutton.png"></a>
  </div>
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">games</a></li>
      <li class="nav-item"><a href="{{ '/other' | relative_url }}">other</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a onclick="openthis()" href="javascript:void(0)">open blank</a></li>
    </ul>
  </nav>

</header>
<script>
  function openthis() {
    opencustom(window.location.href);
  }
  function opencustom(url) {
    let a = window.open("about:blank");
    a.onload = () => {
      a.document.body.style.margin = "0";
      a.document.body.innerHTML = `<iframe src="` + url + `" style="border: 0; width: 100%; height: 100%;">`;
    }
  }
</script>