<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link rel="icon" href="{{ 'assets/favicon.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ 'assets/favicon-full.png' | relative_url }}">
    
    {% include styles.html %}

    {% include meta.html %}

    {% seo title=false %}
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E0Q3NXGEQ9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E0Q3NXGEQ9');
</script>
