---
layout: default
---
<div class="post">
  <div class="post-nav">
    {% if page.next.url %}
      <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}">&laquo; Prev</a>
    {% endif %}
    {% if page.previous.url %}
      <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}">Next &raquo;</a>
    {% endif %}
  </div>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  {% if page.55embed_url %}
    <iframe id="iframe55" src="{{ page.55embed_url | relative_url }}"></iframe>
    <div id="controls55">
      <a id="fullscreen55" href="#"><i class="fa-solid fa-expand"></i></a>
    </div>
  {% endif %}
  <article class="post-content">
    {{ content }}
  </article>

</div>
